set timeout=3
set default=0
set gfxmode=1024x768x32,auto
set gfxpayload=keep
terminal_output gfxterm

menuentry "Minux L4 Microkernel" {
    echo "Loading Minux..."
    multiboot2 /boot/kernel.bin
    echo "Loading bootstrap modules..."
    module2 /boot/modules/elf_loader elf_loader
    module2 /boot/modules/init init
    module2 /boot/modules/bootfs bootfs
    echo "Booting..."
    boot
}
